
 .h1tag {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .h1tag:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
  .h1tag:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
    padding: 10px;
  }
  
  .h1tag:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
  /* p {
    font-size:12px;
    color:#999;
    margin-top:200px;
  } */