.background {
  background: radial-gradient(circle, rgb(14, 33, 31) 0%, rgba(0,0,0,1) 100%);
}
.widhtt{
  width: 45%;
}
 .h1tag {
    text-align: center;
  }
  
  .h1tag:first-of-type {   
    animation: showup 3s infinite;
  }
  
  .h1tag:last-of-type {
    width:0px;
    animation: reveal 3s infinite;
    padding: 10px;
  }
  
  .h1tag:last-of-type span {
    margin-left:-305px;
    animation: slidein 3s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
  /* p {
    font-size:12px;
    color:#999;
    margin-top:200px;
  } */