body,
html {
  width: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
.backgroundImg {
  background: url(img/BgParticlesLower.svg) no-repeat;
  background-size: cover;
  z-index: 100;
  scroll-behavior: smooth;
}
.backgroundImg2 {
  background: url(img/BgParticlesLower.svg) no-repeat;
  z-index: 100;
  scroll-behavior: smooth;
}
.backgroundClr {
  background: rgba(1, 38, 54, 0.58);
  backdrop-filter: blur(1.5px);
  border-radius: 30px;
}

.backgroundImg22 {
  background: url(img/BgParticlesLower.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scale: 100%;
  z-index: 100;
  scroll-behavior: smooth;
}
.backgroundImgTeam {
  background: url(img2/ourteam.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: auto;
  scroll-behavior: smooth;
}
.backgroundImgContact {
  background: url(img2/contactt.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: auto;
  scroll-behavior: smooth;
}
.backgroundImgService {
  background: url(img2/servicess.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: auto;
  scroll-behavior: smooth;
}
.backgroundImgDemo {
  background: url(img2/demos.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: auto;
  scroll-behavior: smooth;
}
.backgroundImgCarrier {
  background: url(img2/demos.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: auto;
  scroll-behavior: smooth;
  z-index: 1000;
}

.backgroundImghead {
  background: url(img/BgParticles-12.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
.backgroundImgAbout {
  background: url(img/backPart.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.followbg {
  background: rgba(1, 38, 54, 0.58);
  backdrop-filter: blur(6px);
}
.backgroundLogin {
  background: rgba(1, 29, 41, 0.49);
  backdrop-filter: blur(2px);
  border-radius: 30px;
}
.gradiantClr {
  background: linear-gradient(90deg, #000000 25.83%, #013546 112.4%);
  mix-blend-mode: normal;
}

.box {
  padding: 1rem;
  max-height: 220px;
  overflow-y: auto;
}
.gradiantTextColor  {
  background: linear-gradient(90deg, #ea00ff 13.77%, rgba(3, 224, 253, 0.615) 50.27%, #ea00ff 77.68%);
 background-clip: text;
 -webkit-text-fill-color: transparent;

 }
 .background {
  background: radial-gradient(circle, rgb(28, 66, 62) 0%, rgb(39, 37, 37) 100%);
}
::-webkit-scrollbar-thumb {
  background-color: #5433ff;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5433ff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


.hideMe {
  -moz-animation: cssAnimation 1s ease-in 1s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in 1s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 1s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 1s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: ease-in-out;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.hideMe2 {
  -moz-animation: cssAnimation 1s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 2s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  transition: ease-in-out;
  animation-fill-mode: forwards;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.hideMe3 {
  
  -moz-animation: cssAnimation 1s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  transition: ease-in-out;
  animation-fill-mode: forwards;
  transition-duration: 1s;
  transition-timing-function: linear;
  
}

/* @keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
} */
@keyframes fade{
  from{
    opacity:0.4;
  }
  to{
    opacity:1;
  }
}
@keyframes cssAnimation {
  to {
    
      width:0;
      height:0;
      overflow:hidden;
      animation-name: inherit;
      animation-duration:1s;
      display:none;
      
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
      overflow:hidden;
      animation-name: inherit;

      animation-duration:3s;
      display:none;
  }
}

.UiBack{
  width: 370%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}