.backgroundImg{
  background: url(img/BgParticles.svg) no-repeat center center ; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  z-index: 100;
  scroll-behavior: smooth;
}
.backgroundImg2{
  background: url(img/BgParticles.svg) no-repeat center center ; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  z-index: 100;
  scroll-behavior: smooth;

}

.backgroundImghead{
  background: url(img/Bgheadk.png)  center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}